
<div class="container">
    <div class="row midwrapper">
        <div class="cuspad col-md-1">
            <a href="#" class="navbar-left"> <img src="~/Content/Image/Logo.png" width="60" height="40" /> </a>
        </div>

        <div class="cuspad col-md-2">
            <div class="dropdown row">
                <a href="javascript:void(0)" class="dropbtn">
                    <div style=" flex-direction:column" class="cuspad col-sm-4"><img src="~/Content/Image/nutton.png" width="32" height="32" /></div>
                    <div style="flex-grow:1" class="cuspad col-sm-8">
                        <span class="font1 pull-left Productfill">Danh mục </span><br>
                        <span class="pull-left">Tài khoản</span>
                        <span class="pull-left"><img src="~/Content/Image/down.png" width="16" height="16" /></span>
                    </div>
                </a>
                <div class="dropdown-content">
                    <a href="#">Điện thoại - Máy tính bảng</a>
                    <a href="#">Điện tử - Điện lạnh</a>
                    <a href="#">Phụ kiện - Thiết bị số</a>
                    <a href="#">Laptop - Thiết bị IT</a>
                    <a href="#">Máy ảnh - Quay phim</a>
                    <a href="#">Điện gia dụng</a>
                    <a href="#">Nhà cửa đời sống </a>
                    <a href="#">Hàng tiêu dùng</a>
                    <a href="#">Đồ chơi mẹ bé</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 FormRoot">
            <input class="Formsearch" id="main_search_form_input" type="text" placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn..." value="" />
            <button class="Formbutton" id="main_search_form_button">
                <img class="icon-search" src="~/Content/Image/icon.png" />
                Tìm Kiếm
            </button>
        </div>

        <div class="col-md-2">
            <div class="dropdown ItemRoot">
                        <img class="profile_icon" src="~/Content/Image/Human.png" />
                    <span class="Itemtext">
                        <span class="user_wrap">Đăng ký / Đăng nhập</span><br>
                              <span class="account">
                                    <span>Tài khoản</span>
                                    <a href="javascript:void(0)" class="dropbtn">
                                        <img class="ArrowDown" src="~/Content/Image/down.png" />
                                    </a>
                                   </span>
                    </span>
                
                <div class="dropdown-content abox">
                    <button class="DN">Đăng Nhập</button>

                    <button class="DK">Tạo tài khoản</button>
                    
                    <button class="FB">
                        <span class="FBButton">
                            <i class="tikicon iconFB"></i>
                        </span>
                        Đăng nhập bằng Facebook
                    </button>

                    <button class="GG">
                        <span class="GGButton">
                            <i class="tikicon iconGG"></i>
                        </span>
                        Đăng nhập bằng Google
                    </button>

                    <button class="Zalo">
                        <span class="ZaloButton">
                            <i class="tikicon iconZalo"></i>
                        </span>
                        Đăng nhập bằng Zalo
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <a href="/"><img src="~/Content/Image/Shoppingcart.png" width="32" height="32" /></a>
        </div>
    </div>
</div>
